.main-menu {
    background-color: #d51111;
    display: inline-flex;
    width: 100%;

}

.main-menu ul li {
    list-style: none;
    display: inline-flex;

}



.menu-list ul li a {
    color: white;
    text-decoration: none;

}